In [210]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [211]:
data_file = '../Resources/COVID19_administrations.csv'
state_file = '../Resources/States Codes.csv'
output_file = '../Resources/Output_COVID_DATA.csv'
df = pd.read_csv(data_file)
df2 = pd.read_csv(state_file)
df_output = pd.read_csv(output_file)

C:\Users\dcurt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [212]:
df2.head()

         Name STATE
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [213]:
df.columns

Index(['State/Territory/Federal Entity', 'Total Doses Delivered',
       'Doses Delivered per 100K', '18+ Doses Delivered per 100K',
       'Total Doses Administered by State where Administered',
       'Doses Administered per 100k by State where Administered',
       '18+ Doses Administered by State where Administered',
       '18+ Doses Administered per 100K by State where Administered',
       'People with at least One Dose by State of Residence',
       'Percent of Total Pop with at least One Dose by State of Residence',
       'People 18+ with at least One Dose by State of Residence',
       'Percent of 18+ Pop with at least One Dose by State of Residence',
       'People Fully Vaccinated by State of Residence',
       'Percent of Total Pop Fully Vaccinated by State of Residence',
       'People 18+ Fully Vaccinated by State of Residence',
       'Percent of 18+ Pop Fully Vaccinated by State of Residence',
       'Total Number of Pfizer doses delivered',
       'Total Number of Moderna doses delivered',
       'Total Number of Janssen doses delivered',
       'Total Number of doses from unknown manufacturer delivered',
       'Total Number of Janssen doses administered',
       'Total Number of Moderna doses administered',
       'Total Number of Pfizer doses adminstered',
       'Total Number of doses from unknown manufacturer administered',
       'People Fully Vaccinated Moderna Resident',
       'People Fully Vaccinated Pfizer Resident',
       'People Fully Vaccinated Janssen Resident',
       'People Fully Vaccinated Unknown 2-dose manufacturer Resident',
       'People 18+ Fully Vaccinated Moderna Resident',
       'People 18+ Fully Vaccinated Pfizer Resident',
       'People 18+ Fully Vaccinated Janssen Resident',
       'People 18+ Fully Vaccinated Unknown 2-dose manufacturer Resident',
       'People with 2 Doses by State of Residence',
       'Percent of Total Pop with 1+ Doses by State of Residence',
       'People 18+ with 1+ Doses by State of Residence',
       'Percent of 18+ Pop with 1+ Doses by State of Residence',
       'Percent of Total Pop with 2 Doses by State of Residence',
       'People 18+ with 2 Doses by State of Residence',
       'Percent of 18+ Pop with 2 Doses by State of Residence',
       'People with 1+ Doses by State of Residence',
       'People 65+ with at least One Dose by State of Residence',
       'Percent of 65+ Pop with at least One Dose by State of Residence',
       'People 65+ Fully Vaccinated by State of Residence',
       'Percent of 65+ Pop Fully Vaccinated by State of Residence',
       'People 65+ Fully Vaccinated_Moderna_Resident',
       'People 65+ Fully Vaccinated_Pfizer_Resident',
       'People 65+ Fully Vaccinated_Janssen_Resident',
       'People 65+ Fully Vaccinated_Unknown 2-dose Manuf_Resident',
       '65+ Doses Administered by State where Administered',
       'Doses Administered per 100k of 65+ pop by State where Administered',
       'Doses Delivered per 100k of 65+ pop',
       'People 12+ with at least One Dose by State of Residence',
       'Percent of 12+ Pop with at least One Dose by State of Residence',
       'People 12+ Fully Vaccinated by State of Residence',
       'Percent of 12+ Pop Fully Vaccinated by State of Residence',
       'People 12+ Fully Vaccinated_Moderna_Resident',
       'People 12+ Fully Vaccinated_Pfizer_Resident',
       'People 12+ Fully Vaccinated_Janssen_Resident',
       'People 12+ Fully Vaccinated_Unknown 2-dose Manuf_Resident',
       '12+ Doses Administered by State where Administered',
       'Doses Administered per 100k of 12+ pop by State where Administered',
       'Doses Delivered per 100k of 12+ pop'],
      dtype='object')

In [214]:
df.drop([
       '18+ Doses Delivered per 100K',
       'Doses Administered per 100k by State where Administered',
       '18+ Doses Administered by State where Administered',
       '18+ Doses Administered per 100K by State where Administered',
       'People with at least One Dose by State of Residence',
       'Percent of Total Pop with at least One Dose by State of Residence',
       'People 18+ with at least One Dose by State of Residence',
       'Percent of 18+ Pop with at least One Dose by State of Residence',
       'Total Number of Pfizer doses delivered',
       'Total Number of Moderna doses delivered',
       'Total Number of Janssen doses delivered',
       'Total Number of Janssen doses administered',
       'Total Number of Moderna doses administered',
       'Total Number of Pfizer doses adminstered',
       'Total Number of doses from unknown manufacturer delivered',
       'Total Number of doses from unknown manufacturer administered',
       'People Fully Vaccinated Unknown 2-dose manufacturer Resident',
       'People 18+ Fully Vaccinated Unknown 2-dose manufacturer Resident',
       'People with 2 Doses by State of Residence',
       'Percent of Total Pop with 1+ Doses by State of Residence',
       'People 18+ with 1+ Doses by State of Residence',
       'Percent of 18+ Pop with 1+ Doses by State of Residence',
       'Percent of Total Pop with 2 Doses by State of Residence',
       'People 18+ with 2 Doses by State of Residence',
       'Percent of 18+ Pop with 2 Doses by State of Residence',
       'People with 1+ Doses by State of Residence',
       'People 65+ with at least One Dose by State of Residence',
       'Percent of 65+ Pop with at least One Dose by State of Residence',
       'People 65+ Fully Vaccinated_Unknown 2-dose Manuf_Resident',
       '65+ Doses Administered by State where Administered',
       'Doses Administered per 100k of 65+ pop by State where Administered',
       'Doses Delivered per 100k of 65+ pop',
       'People 12+ with at least One Dose by State of Residence',
       'Percent of 12+ Pop with at least One Dose by State of Residence',
       'People 12+ Fully Vaccinated_Unknown 2-dose Manuf_Resident',
       '12+ Doses Administered by State where Administered',
       'Doses Administered per 100k of 12+ pop by State where Administered',
       'Doses Delivered per 100k of 12+ pop'],axis=1, inplace=True)

In [215]:
df.shape

(63, 24)

In [216]:
df.drop('Doses Delivered per 100K',axis=1,inplace=True)

In [217]:
df.shape

(63, 23)

In [218]:
# df.to_csv('../Resources/COVID_ADMIN_DATA.csv', index=False, header=True)

In [219]:
df.rename(columns = {'State/Territory/Federal Entity': 'Name'},inplace=True)
df3 = pd.merge(df,df2,how='inner',on='Name')

In [220]:
df3.to_csv('../Resources/COVID_ADMIN_DATA.csv', index=False, header=True)
df3.shape

(49, 24)

In [245]:
m_total_vac = df3['People Fully Vaccinated Moderna Resident'].sum()
p_total_vac = df3['People Fully Vaccinated Pfizer Resident'].sum()
j_total_vac = df3['People Fully Vaccinated Janssen Resident'].sum()

In [222]:
df_output.STATE.unique()

array(['TX', 'CA', 'WA', 'NV', 'KS', 'OH', 'TN', 'VA', 'NC', 'NY', 'GA',
       'NJ', 'LA', nan, 'IL', 'MD', 'ME', 'MA', 'MI', 'CT', 'FL', 'OK',
       'AR', 'ID', 'PA', 'IN', 'AZ', 'MN', 'NH', 'MO', 'CO', 'NE', 'UT',
       'DE', 'AL', 'MT', 'RI', 'MS', 'IA', 'AK', 'HI', 'WV', 'WI', 'NM',
       'OR', 'PR', 'KY', 'ND', 'SC', 'VT', 'DC', 'SD', 'WY', 'XB', 'VI',
       'Ca', 'GU', 'AS', 'MP', 'MH', 'FM', 'XV', 'Tx', 'QM'], dtype=object)

In [223]:
df_output['STATE'] = df_output['STATE'].str.upper()
df_output.STATE.unique()

array(['TX', 'CA', 'WA', 'NV', 'KS', 'OH', 'TN', 'VA', 'NC', 'NY', 'GA',
       'NJ', 'LA', nan, 'IL', 'MD', 'ME', 'MA', 'MI', 'CT', 'FL', 'OK',
       'AR', 'ID', 'PA', 'IN', 'AZ', 'MN', 'NH', 'MO', 'CO', 'NE', 'UT',
       'DE', 'AL', 'MT', 'RI', 'MS', 'IA', 'AK', 'HI', 'WV', 'WI', 'NM',
       'OR', 'PR', 'KY', 'ND', 'SC', 'VT', 'DC', 'SD', 'WY', 'XB', 'VI',
       'GU', 'AS', 'MP', 'MH', 'FM', 'XV', 'QM'], dtype=object)

In [224]:
df_merge = pd.merge(df_output,df3, on='STATE',how='inner')

In [225]:
df_merge.to_csv('../Resources/Temporary_Output.csv')

In [226]:
df_merge.shape

(214315, 35)

In [227]:
df_merge.STATE.unique()

array(['TX', 'CA', 'WA', 'NV', 'KS', 'OH', 'TN', 'VA', 'NC', 'GA', 'NJ',
       'LA', 'IL', 'MD', 'ME', 'MA', 'MI', 'CT', 'FL', 'OK', 'AR', 'ID',
       'PA', 'IN', 'AZ', 'MN', 'NH', 'MO', 'CO', 'NE', 'UT', 'DE', 'AL',
       'MT', 'RI', 'MS', 'IA', 'AK', 'HI', 'WV', 'WI', 'NM', 'OR', 'KY',
       'ND', 'SC', 'VT', 'SD', 'WY'], dtype=object)

In [228]:
df_merge['DIED'] = df_merge['DIED'].replace(np.nan,'N')

In [229]:
df_merge['DIED'].head()

0    N
1    N
2    N
3    N
4    N
Name: DIED, dtype: object

In [230]:
df_merge['DIED'].unique()

array(['N', 'Y'], dtype=object)

In [231]:
df_merge.groupby(['VAX_NAME','SEX','DIED']).describe()

                                             VAERS_ID                \
                                                count          mean
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     18822.0  1.201053e+06
                                        Y       125.0  1.223048e+06
                                    M   N      9026.0  1.210359e+06
                                        Y       144.0  1.221445e+06
                                    U   N       776.0  1.232973e+06
                                        Y         9.0  1.252164e+06
COVID19 (COVID19 (MODERNA))         F   N     78703.0  1.049802e+06
                                        Y       717.0  1.131367e+06
                                    M   N     22399.0  1.073293e+06
                                        Y       884.0  1.119813e+06
                                    U   N      2448.0  9.904073e+05
                                        Y        13.0  1.177837e+06
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     58066.0  1.062026e+06
                                        Y       644.0  1.121502e+06
                                    M   N     19981.0  1.092863e+06
                                        Y       676.0  1.126505e+06
                                    U   N       848.0  1.073530e+06
                                        Y        34.0  1.117797e+06

                                                                        \
                                                        std        min
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N      62782.191144  1070055.0
                                        Y      56462.845020  1102815.0
                                    M   N      65291.712639  1070546.0
                                        Y      56885.766601  1093939.0
                                    U   N      44195.491997  1079511.0
                                        Y      57306.534051  1157515.0
COVID19 (COVID19 (MODERNA))         F   N      86506.624859   916600.0
                                        Y     108760.812173   917790.0
                                    M   N      93489.670580   916607.0
                                        Y     109591.240981   917117.0
                                    U   N      58759.533722   917000.0
                                        Y      84996.902564  1034985.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     102979.767030   916602.0
                                        Y     115519.792431   918388.0
                                    M   N     109108.410024   916638.0
                                        Y     116998.035568   918418.0
                                    U   N     123007.204253   917480.0
                                        Y     126013.404686   955879.0

                                                                     \
                                                     25%        50%
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     1164765.50  1203012.0
                                        Y     1188040.00  1223378.0
                                    M   N     1174001.00  1205819.0
                                        Y     1200988.50  1215401.0
                                    U   N     1206571.75  1236282.5
                                        Y     1227927.00  1276508.0
COVID19 (COVID19 (MODERNA))         F   N      979523.50  1041119.0
                                        Y     1047183.00  1123247.0
                                    M   N      998746.00  1071667.0
                                        Y     1033084.50  1106759.0
                                    U   N      963865.75   975137.5
                                        Y     1114894.00  1169011.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N      973344.25  1052066.5
                                        Y     1022397.00  1104279.5
                                    M   N     1003410.00  1088654.0
                                        Y     1033622.50  1121337.0
                                    U   N      973582.75  1038352.5
                                        Y      982612.75  1113003.0

                                                                     AGE_YRS  \
                                                     75%        max    count
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     1241220.00  1336292.0  16950.0
                                        Y     1266405.00  1331099.0    111.0
                                    M   N     1253909.75  1336295.0   8155.0
                                        Y     1259290.25  1336097.0    131.0
                                    U   N     1252973.75  1334802.0    139.0
                                        Y     1284660.00  1322556.0      0.0
COVID19 (COVID19 (MODERNA))         F   N     1109667.50  1336300.0  77794.0
                                        Y     1221127.00  1334886.0    702.0
                                    M   N     1134878.00  1336299.0  21957.0
                                        Y     1209996.25  1336138.0    864.0
                                    U   N      980473.25  1326544.0    353.0
                                        Y     1249697.00  1305027.0      4.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     1131972.00  1335965.0  56026.0
                                        Y     1224887.75  1333650.0    616.0
                                    M   N     1156528.00  1335964.0  18968.0
                                        Y     1228763.00  1334696.0    652.0
                                    U   N     1162477.75  1332800.0    294.0
                                        Y     1221982.50  1309628.0     12.0

                                                         ...  \
                                                   mean  ...
VAX_NAME                            SEX DIED             ...
COVID19 (COVID19 (JANSSEN))         F   N     45.245841  ...
                                        Y     68.270270  ...
                                    M   N     43.451502  ...
                                        Y     63.847328  ...
                                    U   N     43.690647  ...
                                        Y           NaN  ...
COVID19 (COVID19 (MODERNA))         F   N     51.384207  ...
                                        Y     74.646724  ...
                                    M   N     54.267978  ...
                                        Y     72.920139  ...
                                    U   N     48.691218  ...
                                        Y     55.250000  ...
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     49.835576  ...
                                        Y     75.766234  ...
                                    M   N     52.232602  ...
                                        Y     72.317485  ...
                                    U   N     51.496599  ...
                                        Y     76.083333  ...

                                             People 12+ Fully Vaccinated_Pfizer_Resident  \
                                                                                     75%
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N                                      2916736.0
                                        Y                                      2916736.0
                                    M   N                                      4252912.0
                                        Y                                      2916736.0
                                    U   N                                      2916736.0
                                        Y                                      2916736.0
COVID19 (COVID19 (MODERNA))         F   N                                      4252912.0
                                        Y                                      2707626.0
                                    M   N                                      4252912.0
                                        Y                                      2707626.0
                                    U   N                                      8889885.0
                                        Y                                      4252912.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N                                      2916736.0
                                        Y                                      2707626.0
                                    M   N                                      2916736.0
                                        Y                                      2916736.0
                                    U   N                                      2916736.0
                                        Y                                      2707626.0

                                                         \
                                                    max
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     8889885.0
                                        Y     8889885.0
                                    M   N     8889885.0
                                        Y     8889885.0
                                    U   N     8889885.0
                                        Y     8889885.0
COVID19 (COVID19 (MODERNA))         F   N     8889885.0
                                        Y     8889885.0
                                    M   N     8889885.0
                                        Y     8889885.0
                                    U   N     8889885.0
                                        Y     8889885.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     8889885.0
                                        Y     8889885.0
                                    M   N     8889885.0
                                        Y     8889885.0
                                    U   N     8889885.0
                                        Y     8889885.0

                                             People 12+ Fully Vaccinated_Janssen_Resident  \
                                                                                    count
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N                                         18822.0
                                        Y                                           125.0
                                    M   N                                          9026.0
                                        Y                                           144.0
                                    U   N                                           776.0
                                        Y                                             9.0
COVID19 (COVID19 (MODERNA))         F   N                                         78703.0
                                        Y                                           717.0
                                    M   N                                         22399.0
                                        Y                                           884.0
                                    U   N                                          2448.0
                                        Y                                            13.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N                                         58066.0
                                        Y                                           644.0
                                    M   N                                         19981.0
                                        Y                                           676.0
                                    U   N                                           848.0
                                        Y                                            34.0

                                                                            \
                                                       mean            std
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     444843.450271  398902.054521
                                        Y     412800.896000  370305.253904
                                    M   N     451531.233215  404993.222617
                                        Y     411557.055556  411381.821409
                                    U   N     447517.460052  402915.342569
                                        Y     513709.888889  370697.081215
COVID19 (COVID19 (MODERNA))         F   N     442376.865011  406071.670767
                                        Y     371772.479777  372868.303271
                                    M   N     444705.146301  412008.834603
                                        Y     400422.264706  389585.792631
                                    U   N     952681.713235  551135.857376
                                        Y     491334.384615  457921.377818
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     431318.607051  406108.244378
                                        Y     383799.413043  377946.324380
                                    M   N     443926.347430  409479.582421
                                        Y     416616.113905  395767.357377
                                    U   N     430533.792453  382422.907399
                                        Y     384550.970588  266349.100258

                                                                              \
                                                   min        25%        50%
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N      13876.0  172826.00   294439.0
                                        Y      19741.0  143687.00   294439.0
                                    M   N      13876.0  172826.00   294439.0
                                        Y      30718.0  123410.75   271370.0
                                    U   N      13876.0  172826.00   294439.0
                                        Y     148384.0  294439.00   379978.0
COVID19 (COVID19 (MODERNA))         F   N      13876.0  172826.00   275624.0
                                        Y      13876.0  143687.00   241901.0
                                    M   N      13876.0  172826.00   275624.0
                                        Y      13876.0  143687.00   241901.0
                                    U   N      19741.0  301455.00  1364788.0
                                        Y      67800.0  150436.00   294439.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N      13876.0  172826.00   275624.0
                                        Y      19741.0  143687.00   241901.0
                                    M   N      13876.0  172826.00   275624.0
                                        Y      13876.0  143687.00   294439.0
                                    U   N      19741.0  172826.00   294439.0
                                        Y      30072.0  196826.00   379978.0


                                                    75%        max
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N      488371.0  1364788.0
                                        Y      488371.0  1364788.0
                                    M   N      821315.0  1364788.0
                                        Y      488371.0  1364788.0
                                    U   N      488371.0  1364788.0
                                        Y      488371.0  1364788.0
COVID19 (COVID19 (MODERNA))         F   N      821315.0  1364788.0
                                        Y      399161.0  1364788.0
                                    M   N      821315.0  1364788.0
                                        Y      399161.0  1364788.0
                                    U   N     1364788.0  1364788.0
                                        Y      821315.0  1364788.0
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N      488371.0  1364788.0
                                        Y      399161.0  1364788.0
                                    M   N      488371.0  1364788.0
                                        Y      488371.0  1364788.0
                                    U   N      488371.0  1364788.0
                                        Y      399161.0  1364788.0

[18 rows x 200 columns]

In [247]:
death = pd.DataFrame(df_merge.groupby(['VAX_NAME','SEX','DIED'])['DIED'].count())

In [256]:
j_f_death = death['DIED'][1]
j_m_death = death['DIED'][3]

m_f_death = death['DIED'][7]
m_m_death = death['DIED'][9]

p_f_death = death['DIED'][13]
p_m_death = death['DIED'][15]

In [250]:
death

                                               DIED
VAX_NAME                            SEX DIED
COVID19 (COVID19 (JANSSEN))         F   N     18822
                                        Y       125
                                    M   N      9026
                                        Y       144
                                    U   N       776
                                        Y         9
COVID19 (COVID19 (MODERNA))         F   N     78703
                                        Y       717
                                    M   N     22399
                                        Y       884
                                    U   N      2448
                                        Y        13
COVID19 (COVID19 (PFIZER-BIONTECH)) F   N     58066
                                        Y       644
                                    M   N     19981
                                        Y       676
                                    U   N       848
                                        Y        34

In [258]:
j_m_mortality_rate = j_m_death / j_total_vac
print(j_m_mortality_rate)
j_f_mortality_rate = j_f_death / j_total_vac
print(j_f_mortality_rate)

m_m_mortality_rate = m_m_death / m_total_vac
print(m_m_mortality_rate)
m_f_mortality_rate = m_f_death / m_total_vac
print(m_f_mortality_rate)

p_m_mortality_rate = p_m_death / p_total_vac
print(p_m_mortality_rate)
p_f_mortality_rate = p_f_death / p_total_vac
print(p_f_mortality_rate)

1.4627128590033176e-05
1.2697160234403798e-05
1.728585383797676e-05
1.4020313576730018e-05
1.0483365333961094e-05
9.987111353655244e-06